{% extends 'base.html' %}
{% load static %}

{% block title %}<title>About - SwiftMart</title>{% endblock title %}

{% block content %}

   <div class="hero">

    </div>
    <div class="container">

        <div class="mt-4 about-wrapper">

            <div class="about-part1">
                <div class="card bg-light mb-3 border-light">

                    <div class="card-body flex flex-column text-center align-items-center">
                        <h3 class='about2'><span class="text-success">About</span> SwiftMart</h3>
                    </div>
                </div>
            </div>

            <div class="about-part2">
                <div class="card bg-light mb-3 border-light">

                    <div class="card-body flex flex-column user-data px-4">
                        <p class="about-text">
                            Welcome to SwiftMart, the ultimate solution for Swifttalk Limited's
                            staff to streamline their bulk food purchasing needs.
                            Designed with convenience in mind, SwiftMart offers an intuitive
                            platform where employees can securely login and effortlessly place
                            orders for their desired food items. We believe this simple website
                            can help to simplify the process of our food item purchase.
                            Join us at SwiftMart and experience a seamless way to shop for bulk
                            food items, tailored specifically for the Swifttalk Limited family.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}