{% load static %}
<!Doctype html>
<html lan="eng">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock title %}
        <link rel="icon" href="{% static 'images/logo.png' %}">
        <!--<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-sm navbar-light bg-light w-full px-2 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo1.png' %}"  width="80px" height="60px" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'about' %}" style="font-weight:600;"> About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'contact' %}" style="font-weight:600;"> Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'display' %}" style="font-weight:600;"> Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'items' %}" style="font-weight:600;">Book Items</a>
                        </li>
                    </ul>
                    <div class="form-inline mt-4 my-lg-0" role="search">
                        <!--<span>Hello {{ request.user }}</span>-->
                        {% if user.is_authenticated %}
                            <small class="text-xs">Hello {{ user.first_name }}</small><br>
                            <a class="btn btn-outline-success" href="{% url 'logout' %}">Logout</a>
                            <a class="btn btn-success mx-4" href="{% url 'dashboard' %}">Dashboard</a>

                        {% else %}

                            <a class="btn btn-outline-success" href="{% url 'login' %}">Login</a>
                            <a class="btn btn-success mx-4" href="{% url 'register' %}">Register</a>

                        {% endif %}
                    </div>

                </div>
            </div>
        </nav>



        <main class="main">

            {% block content %}


            {% endblock content %}


        </main>

        <!--<div class="whatsapp"><-----whatsapp-link-------
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-d8bc2f89-9b5e-48b9-8367-aeff9056b4dd" data-elfsight-app-lazy style="width:60px;height:60px"></div>
        </div>-->

        <div class="whatsapp"><!-------whatsapp-link------->
            <a href="https://wa.me/2348060400050" target="_blank" rel="noreferrer"><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp"></a>
        </div>

        <footer class="mt-4" style="background:#1d3344;">
            <div class="container">
            <div class="row mt-4">
                <div class="col-sm-6 col-lg-4">
                    <div class="mb-3">

                        <div class="card-body">
                            <img src="{% static 'images/logo.png' %}" alt="logo" width="100px" height="90px" class="rounded-circle">

                            <p class="text-light pt-3">3-6 Alhaji Adejumo Avenue,
                                Ilupeju Industrial Estate Ilupeju, Lagos.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="">
                        <div class="card-body text-light">
                            <h5 class='text-light text-start'>Quick Links</h5>
                            <div class="text-light">
                                <span class="nav-item">
                                    <a class="nav-link text-light test" href="{% url 'home' %}"> Home</a>
                                </span>
                                <span class="nav-item">
                                    <a class="nav-link text-light test" href="{% url 'about' %}"> About</a>
                                </span>
                                <span class="nav-item">
                                    <a class="nav-link text-light test" href="{% url 'contact' %}"> Contact</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="">
                        <div class="card-body">
                            <h5 class='text-light text-start'> Contact</h5>
                            <p class="text-light"><i class="fa fa-phone text-light"></i>&nbsp; +2348060400050, +2347034534697
                            </p>
                            <p class="text-light"><i class="fa fa-envelope text-light"> &nbsp;</i>hr@swifttalk.net</p>
                             <!--<div>
                               <h5 class='text-light text-start'> Social Links</h5>
                                <div class="flex justify-content-between">
                                    <span class=" text-light"><i class="fa fa-instagram-square"></i>
                                    </span>
                                </div>

                            </div>-->
                        </div>

                    </div>

                </div>
            </div>
            </div><hr class="text-light mt-0">

            <div class="text-center mb-3 text-light">
                <p class="copy-right">&COPY; All Rights Reserved. &nbsp; <a href="https://swiftmart.up.railway.app/">Swiftmart</a> &nbsp; <script>document.write(new Date().getFullYear())</script></p>
            </div>

            <div><a href="#" class="back-to-top"><i class="fa fa-arrow-up"></i></a></div>
        </footer>
        <!--------back-to-top------>


        <script src="{% static 'js/test.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>