{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Contact Us - SwiftMart</title>{% endblock title %}

{% block content %}

   <div class="contact-hero">
        <h2 id="contact-text"
            style="">
            Contact Us
        </h2>
    </div>

    <div class="container">


            <div class="row my-5">
                <div class="col-sm-6 col-lg-4 contact-col">
                    <div class="card mb-3 border-light contact-card">

                        <div class="card-body contact-card-body">
                            <h5 class='text-dark text-start'><i class="fa fa-home text-success icon"></i> Address</h5>
                            <p class="">3-6 Alhaji Adejumo Avenue,
                                Ilupeju Industrial Estate Ilupeju, Lagos.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 contact-col">
                    <div class="card mb-3 border-light contact-card">
                        <div class="card-body contact-card-body">
                            <h5 class='text-dark text-start'><i class="fa fa-envelope text-success icon"></i> Email</h5>
                            <p class="">hr@swifttalk.net</p>
                            <span class="text-white">support@swifttalk.net</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 contact-col">
                    <div class="card mb-3 border-light contact-card">
                        <div class="card-body contact-card-body">
                            <h5 class='text-dark text-start'><i class="fa fa-phone text-success icon"></i> Contact</h5>
                            <p class="">234 8180023607, 234 9091488512</p>
                            <span class="text-white">234 8180023607, 234 9091488512</span>
                        </div>
                    </div>

                </div>
            </div>

{% endblock content %}