{% extends 'base.html' %}

{% load static %}

{% block title %}<title> Dashboard Swiftmart </title>{% endblock title %}

{% block content %}

  <div class="pt-5 pb-5 container">
    {% if messages %}

      <div class="alert alert-success alert-dismissible" role="alert">
        {% for message in messages %}
          {{ message }}
            {% endfor %}
              <button class="btn-close alert-link" data-bs-dismiss="alert"></button>
      </div>

    {% endif %}


    <div class="row">

      <div class="col-sm-6 col-lg-4">
        <div class="card bg-light mb-3 border-light">
          <div class="card-header text-center mb-2"><h5 class='text-dark'>{{user.first_name}}'s Dashboard</h5></div>
            <div class="card-body flex flex-column user-data">
              <img src="{{ user.avatar.url }}" alt="profile-image" width="120px" height="100px" class="rounded-circle mb-2">
              <p class='text-start pt-2'><strong>Email: </strong>{{ user.email }}</p>
              <p class=""><strong>Phone: </strong>{{ user.phone }}</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-8">
          <div class="card bg-light mb-3 border-light">
            <div class="card-header text-center mb-2"><h5 class='text-dark'>
              My Items</h5>
            </div>

            {% for item in user_items %}

              <div class="card-body flex flex-column user-data px-4">

                <div class="container">

                  <div class="table-responsive">
                    <table class="table text-sm">
                      <thead>
                        <tr>
                          <th>Items</th>
                          <th>Quantity</th>
                          <th><a href="{% url 'edit' item.id %}" class="btn btn-success" style="font-size:0.8rem">Edit</a></th>
                        </tr>
                      </thead>

                      <tbody>

                        <tr>

                          <td>white-garri-Ijebu<small class="text-danger">-₦66,000</small></td>
                          <td>{{ item.white_garri_ijebu }}</td>
                        </tr>
                        <tr>
                          <td>white-garri-bendel<small class="text-danger">-₦52,000</small></td>
                          <td>{{ item.white_garri_bendel }}</td>
                        </tr>
                        <tr>
                          <td>Yellow-garri-bendel<small class="text-danger">-₦52,000</small></td>
                          <td>{{ item.yellow_garri_bendel }}</td>
                        </tr>
                        <tr>
                          <td>Rice(Nig)<small class="text-danger">-₦67,000</small></td>
                          <td>{{item.nig_rice}}</td>
                        </tr>
                        <tr>
                          <td>Foreign-rice-small-grain<small class="text-danger">-₦70,000</small></td>
                          <td>{{item.foreign_rice_small_grain}}</td>
                        </tr>
                        <tr>
                          <td>Foreign-rice-big-grain<small class="text-danger">-₦75,000</small></td>
                          <td>{{item.foreign_rice_big_grain}}</td>
                        </tr>
                        <tr>
                          <td>Honey-beans<small class="text-danger">-₦91,000</small></td>
                          <td>{{item.honey_beans}}</td>

                        </tr>
                        <tr>
                          <td>Drum-beans<small class="text-danger">-₦180,000</small></td>
                          <td>{{item.drum_beans}}</td>
                        </tr>
                        <tr>
                          <td>Pelebe-beans<small class="text-danger">-₦160,000</small></td>
                          <td>{{item.pelebe_beans}}</td>

                        </tr>
                        <tr>
                          <td>Red-oil<small class="text-danger">-₦30,000-25L</small></td>
                          <td>{{item.red_oil}}</td>
                        </tr>
                        <tr>
                          <td>Vegetable-oil<small class="text-danger">-₦52,000-25L</small></td>
                          <td>{{item.veg_oil}}</td>
                        </tr>



                        <tr>
                          <td>Onions-big-size<small class="text-danger">-₦45,000</small></td>
                          <td>{{item.onions_big_size}}</td>
                        </tr>
                        <tr>
                          <td>Onions-gen-size<small  class="text-danger">-₦91,000</small></td>
                          <td>{{item.onions_gen_size}}</td>
                        </tr>
                        <tr>
                          <td>Aunty-b-spag</td>
                          <!--<td>{{item.aunty_b_spag}}</td>-->
                        </tr>
                        <tr>
                          <td>G-penny-spag</td>
                          <!--<td>{{item.g_penny_spag}}</td>-->
                        </tr>
                        <tr>
                          <td>Crown-spag</td>
                          <!--<td>{{item.crown_spag}}</td>-->
                        </tr>
                        <tr>
                          <td>Dangote-spaghetti</td>
                          <!--<td>{{item.dangote_spag}}</td>-->
                        </tr>
                        <tr>
                          <td>Noodles-indomie-oriental</td>
                          <!--<td>{{item.indomie_oriental}}</td>-->
                        </tr>
                        <tr>
                          <td>Noodles-indomie-chicken</td>
                          <!--<td>{{item.indomie_chicken}}</td>-->
                        </tr>
                        <tr>
                          <td>Noodles-chikki-chicken</td>
                          <!--<td>{{item.chikki_noodles}}</td>-->
                        </tr>
                        <tr>
                          <td>Noodles-mimee-chicken</td>
                          <!--<td>{{item.mimee_noodles}}</td>-->
                        </tr>

                        <tr>
                          <td>Satchet-tomatoe</td>
                          <!--<td>{{item.satchet_tomatoe}}</td>-->
                        </tr>
                        <tr>
                          <td>Tin-tomatoe-220g</td>
                          <!--<td>{{item.tin_tomatoe_220g}}</td><-->
                        </tr>
                        <tr>
                          <td>Tin-tomatoe-450g</td>
                          <!--<td>{{item.tin_tomatoe_450g}}</td><-->
                        </tr>
                        <tr>
                          <td>Semo</td>
                          <!--<td>{{item.semo}}</td><-->
                        </tr>
                        <tr>
                          <td>Yam</td>
                          <!--<td>{{item.yam_tubers}}</td>-->
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            {% endfor %}

            <div class="card-footer">
                <p>Back to <a class="text-success" href="{% url 'home'%}"> Home</a></p>
              </div>

          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}

