{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--<h2 class="text-center">Staff and their respective ordered food items</h2>
    {% for user in useritems %}


        <div class="container flex flex-column user-data px-4">

            <div>
                <p class='text-start'><b>{{ user.user.name }}</b></p>
            </div>
            <ol>
                <li class="pt-1 px-4">Garri:  {{ user.garri }} bag</li>
                <li class="pt-1 px-4">Rice:  {{ user.rice }} bag</li>
                <li class="pt-1 px-4">Beans:  {{ user.beans }} bag</li>
                <li class="pt-1 px-4">Onions:  {{ user.onions }} </li>
                <li class="pt-1 px-4">Spaghetti: {{ user.spaghetti }} </li>
            </ol>




        </div>

    {% endfor %}-->

    <div class="container-fluid py-5">

    <div class="row">



        <div class="col-sm">
          <div class="card bg-light mb-3 border-light">
            <div class="card-header text-center admin-table-header mb-2">
              <h5 class="text-center">Staff Records</h5>
              <a href="{% url 'export-excel' %}" class="btn btn-success">Export to Excel</a>
            </div>
              <div class="card-body user-data">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="table-head">
                        <tr>
                          <td><b>Name</b></td>
                          <td><b>Garri(white)</b></td>
                          <td><b>Garri(yellow)</b></td>
                          <td><b>Rice(Nig)</b></td>
                          <td><b>Rice(foreign)</b></td>
                          <td><b>Beans(honey)</b></td>
                          <td><b>Beans(drum)</b></td>
                          <td><b>Onions</b></td>
                          <td><b>Spag(auntyB)</b></td>
                          <td><b>Spag(Gpenny)</b></td>
                          <td><b>Noodles(oriental)</b></td>
                          <td><b>Noodles(chikki)</b></td>
                          <td><b>Yam</b></td>
                          <td><b>Red-oil</b></td>
                          <td><b>Veg-oil</b></td>
                          <td><b>Tomatoe</b></td>
                          <td><b>Semo</b></td>
                        </tr>
                      </thead>

                      <tbody class="">
                        {% for user in useritems %}
                        <tr class="text-sm">


                          <td><b>{{user.user.last_name}}</b></td>
                          <td>{{user.white_garri }}</td>
                          <td>{{user.yellow_garri }}</td>
                          <td>{{user.nig_rice}}</td>
                          <td>{{user.foreign_rice}}</td>
                          <td>{{user.honey_beans}}</td>
                          <td>{{user.drum_beans}}</td>
                          <td>{{user.onions}}</td>
                          <td>{{user.aunty_b_spag}}</td>
                          <td>{{user.g_penny_spag}}</td>
                          <td>{{user.oriental_noodles}}</td>
                          <td>{{user.chikki_noodles}}</td>
                          <td>{{user.yam_tubers}}</td>
                          <td>{{user.red_oil}}</td>
                          <td>{{user.veg_oil}}</td>
                          <td>{{user.tomatoe}}</td>
                          <td>{{user.semo}}</td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


          </div>
        </div>
      </div>

    </div>
    </div>


{% endblock content %}